#background {
    -fx-background-color: rgba(255, 255, 255, 1);
 }

.button:selected {
     -fx-background-color: none;
 }

 .button:focused {
     -fx-background-color: none;
 }

#backButton {
    -fx-border: none;
    -fx-background-image: url('images/back.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

#deleteButton {
    -fx-border: none;
    -fx-background-image: url('images/delete.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

#editButton {
    -fx-border: none;
    -fx-background-image: url('images/edit.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

#doneButton {
    -fx-border: none;
    -fx-background-image: url('images/done.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: none;
    -fx-border-focus: none;
    -fx-accent: black;
}

 #chooseImageButton {
    -fx-border-color: black;
    -fx-background-color: white;
 }

 #chooseImageButton:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
 }

 #chooseImageButton:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
  }
